{% include "header.html" %}


        <section class="home">
            <div class="home-content">
                <h3>Hello</h3>
                <h1>I am Madhan</h1>
                <h3> <span class="text"></span></h3>
                <br>
                <p>Aspiring AWS and DevOps Engineer with a strong foundation in Python programming. Eager to leverage my skills in cloud computing and DevOps practices to contribute to innovative projects. Quick learner with a passion for staying updated with industry trends and best practices.</p>

                <div class="home-sci">
                    <a href="https://www.linkedin.com/in/madhan123/"><i class='bx bxl-linkedin-square' ></i></a>
                    <a href="https://github.com/madhanselvamani"><i class='bx bxl-github'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                </div>
                <a href="#" class="btn-box">More about me</a>
            </div>
        </section>

{% include "footer.html" %}