
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>My Portfolio</title>
        <link rel="stylesheet" href="/static/style.css" />
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script src="/static/script.js"></script>
    </head>
    <body>
        <header class="header1">
            <a href="#" class="logo1">Portfolio</a>
            <nav class="navbar1">
                <a href="{{url_for('home')}}">Home</a>
                <a href="{{url_for('resume')}}">Resume</a>
                <a href="{{url_for('skills')}}">Skills</a>
                <a href="{{url_for('projects')}}">Projects</a>
                <a href="{{url_for('contact')}}">Contact</a>
            </nav>

        </header>

        <div class="pro">
            
            <div class="project-details">
                <h1>AWS:</h1>
                <hr>
                <h2>Lambda Function for File Upload to S3 and Database Update</h2>
                <div class="description">
                    <h4>Description:</h4>
                    <p>Designed and implemented a serverless architecture using AWS Lambda to automate file uploads to S3 buckets, database updates, and SNS notifications.</p>
                </div>
                <div class="technologies">
                    <h4>Technologies Used:</h4>
                    <p>AWS Lambda, Amazon S3, RDS, SNS</p>
                </div>
                <!-- <div class="role">
                    <h4>Role:</h4>
                    <p>Project Lead & Developer</p>
                </div> -->
                <div class="responsibilities">
                    <h4>Key Responsibilities:</h4>
                    <ul>
                        <li>Developed and deployed AWS Lambda functions to process file uploads triggered by S3 events.</li>
                        <li>Implemented logic to update a relational database (RDS) with processed file data.</li>
                        <li>Configured SNS notifications to alert stakeholders upon successful database updates.</li>
                    </ul>
                </div>
                <div class="achievements">
                    <h4>Achievements:</h4>
                    <ul>
                        <li>Reduced manual effort and improved efficiency by automating file processing tasks.</li>
                        <li>Enhanced data integrity and reliability through real-time database updates and notifications.</li>
                    </ul>
                </div>
                <div class="details">
                    <h4>Project Details:</h4>
                    <ul>
                        <li>Architected a scalable and resilient solution leveraging AWS serverless services.</li>
                        <li>Created Lambda functions in Python to handle file processing and database interactions.</li>
                        <li>Configured event-driven architecture to trigger Lambda functions upon S3 bucket events.</li>
                    </ul>
                </div>
                <div class="demo">
                    <h4>Demo:</h4>
                    <p>[Link to GitHub repository/demo if available]</p><br>
                    <h4>Skills Demonstrated:</h4>
                    <p>AWS Lambda, Amazon S3, RDS, SNS, Python, Serverless Architecture, Event-Driven Programming</p>
                </div>
                
            </div>

            <br>

            <div class="project-details">
                <h1>Terraform:</h1>
                <hr>
                <h2>Automated VPC Deployment with Terraform</h2>
                <div class="description">
                    <h4>Description:</h4>
                    <p>Designed and implemented an automated VPC deployment solution using Terraform, enabling rapid and consistent provisioning of AWS networking infrastructure.</p>
                </div>
                <div class="technologies">
                    <h4>Technologies Used:</h4>
                    <p>Terraform, AWS (Amazon VPC, Internet Gateway, Subnets, Routing Tables, Security Groups)</p>
                </div>
                
                
                <div class="responsibilities">
                    <h4>Key Responsibilities:</h4>
                    <ul>
                        <li>Developed Terraform configurations for VPC, subnets, and associated networking components.</li>
                        <li>Implemented automated deployment workflows for consistent and reproducible infrastructure provisioning.</li>
                        <li>Collaborated with cross-functional teams to ensure alignment with project requirements and best practices.</li>
                    </ul>
                </div>
                <div class="achievements">
                    <h4>Achievements:</h4>
                    <ul>
                        <li>Streamlined VPC deployment process, reducing provisioning time and minimizing manual errors.</li>
                        <li>Improved infrastructure scalability and reliability through standardized Terraform configurations and automated testing.</li>
                    </ul>
                </div>
                <div class="details">
                    <h4>Project Details:</h4>
                    <ul>
                        <li>Architected an automated VPC deployment solution using Terraform modules and templates.</li>
                        <li>Integrated Terraform with AWS services for seamless provisioning and configuration of networking resources.</li>
                        <li>Documented deployment workflows and best practices to facilitate knowledge sharing and team collaboration.</li>
                    </ul>
                </div>
                <div class="demo">
                    <h4>Demo:</h4>
                    <p>[Link to GitHub repository/demo if available]</p><br>
                    <h4>Skills Demonstrated:</h4>
                    <p>Terraform, AWS, Infrastructure as Code, Networking Concepts.</p>
                </div>

                <br>

                <div class="project-details">
                    <h1>Devops:</h1>
                    <hr>
                    <h2>Automated Deployment Pipeline with Jenkins</h2>
                    <div class="description">
                        <h4>Description:</h4>
                        <p>Developed an end-to-end CI/CD pipeline using Jenkins, automating build, test, and deployment processes for faster and more reliable software delivery.</p>
                    </div>
                    <div class="technologies">
                        <h4>Technologies Used:</h4>
                        <p>Jenkins, Docker, Git</p>
                    </div>
                    <div class="responsibilities">
                        <h4>Key Responsibilities:</h4>
                        <ul>
                            <li>Configured Jenkins jobs and pipelines for continuous integration and continuous deployment.</li>
                            <li>Implemented automated testing and quality assurance processes to ensure code reliability.</li>
                            <li>Integrated Jenkins with Docker for containerized builds and deployments.</li>
                        </ul>
                    </div>
                    <div class="achievements">
                        <h4>Achievements:</h4>
                        <ul>
                            <li>Accelerated deployment processes, reducing time-to-market and increasing release frequency.</li>
                            <li>Enhanced reliability and consistency of deployments, resulting in fewer errors and rollbacks.</li>
                        </ul>
                    </div>
                    <div class="details">
                        <h4>Project Details:</h4>
                        <ul>
                            <li>Designed and implemented a comprehensive CI/CD pipeline with Jenkins for automated software delivery.</li>
                            <li>Utilized Git for version control and collaboration, ensuring code stability and traceability.</li>
                            <li>Documented deployment workflows and best practices to facilitate team collaboration and knowledge sharing.</li>
                        </ul>
                    </div>
                    <div class="demo">
                        <h4>Demo:</h4>
                        <p>[Link to GitHub repository/demo if available]</p><br>
                        <h4>Skills Demonstrated:</h4>
                        <p>Jenkins, Continuous Integration, Continuous Deployment, Docker, Git</p>
                    </div>
                </div>
                
                <br>

                <div class="project-details">
                    <h1>Python:</h1>
                    <hr>
                    <h2>Python Portfolio Website</h2>
                    <div class="description">
                        <h4>Description:</h4>
                        <p>Developed and maintained a personal portfolio website showcasing my skills, projects, and professional experience. The website serves as an interactive platform for potential employers and collaborators to learn more about my background and expertise.</p>
                    </div>
                    <div class="technologies">
                        <h4>Technologies Used:</h4>
                        <p>Python (Flask, HTML, CSS, Canva)</p>
                    </div>
                    <div class="responsibilities">
                        <h4>Key Responsibilities:</h4>
                        <ul>
                            <li>Designed and developed the website frontend using HTML, CSS, and Canva for graphic design elements.</li>
                            <li>Implemented backend functionalities using Python and Flask framework.</li>
                            <li>Integrated various features such as project showcase, skills section, Resume and contact form for user interaction.</li>
                        </ul>
                    </div>
                    <div class="achievements">
                        <h4>Achievements:</h4>
                        <ul>
                            <li>Created a visually appealing and user-friendly interface to attract visitors and showcase professional capabilities.</li>
                            <li>Increased online visibility and accessibility for potential employers and collaborators.</li>
                        </ul>
                    </div>
                    <div class="details">
                        <h4>Project Details:</h4>
                        <ul>
                            <li>Developed using Flask framework for backend routing and rendering.</li>
                            <li>Utilized HTML and CSS for frontend layout and styling.</li>
                            <li>Integrated Canva designs for graphical elements and branding.</li>
                        </ul>
                    </div>
                    <div class="demo">
                        <h4>Demo:</h4>
                        <p>[Link to deployed website/demo]</p><br>
                        <h4>Skills Demonstrated:</h4>
                        <p>Python, Flask, HTML, CSS, Canva, Web Development.</p>
                    </div>
                    
                </div>
                
            </div>
        </div>
       
        

{% include "footer.html" %}