{% include "header.html "%}

    <section class="resume">
        <div class="left-side">
            
            <div class="center">
                <h1>MADHAN S</h1>
                <h3>AWS & Devops Engineer</h3>
                <h5>8270789498 | madhanselvamani733@gmail.com</h5>
                <p>Linkedin - https://www.linkedin.com/in/madhan123/</p>
                <p class="github">GitHub - https://github.com/madhanselvamani</p>
                
            </div>
            
            <div class="profile">
                <h2>PROFILE SUMMARY</h2><br><hr class="short-line"><br>
                <p>Adept Cloud Engineer in proficient skilled technologies in AWS, Devops and Python. Design and implement cloud-based solutions using AWS services. Monitor and optimize AWS cloud infrastructure performance. Develop and maintain automation scripts to manage cloud infrastructure and skilled in designing and implementing CI/CD pipelines to streamline software delivery.</p>
            </div><br>
            <div class="vertical-line"></div>

            <div>
                <h2>EDUCATION</h2><br><hr class="short-line1"><br>
                <h4>Panimalar Institute Of Technology, Chennai</h4>
                <p>Bachelor's Mechanical Engineer</p>
                <p>2016 - 2020 | CGPA- 7.3 /10</p><br>
                
                <h4>Vivekanandha Hr Sec School, Sirkali</h4>
                <p>Maths Computer Science | State Board</p>
                <p>2015 - 2016 | Percentage - 82%</p>
            </div><br>

            <div>
                <h2>SKILLS</h2><br><hr class="short-line1"><br>
                <ul class="list">
                    <li>AWS</li>
                    <li>Devops</li>
                    <li>Linux (OS)</li>
                    <li>Python</li>
    
                </ul>
            </div><br>

            <div>
                <h2>CERTIFICATIONS</h2><br><hr class="short-line2"><br>
                <ul class="list">
                    <li><b>Cloud Computing</b> (AWS and DEVOPS) Completed in Besant Technologies <br>in 2024.</li>
                </ul>
            </div><br>

   
            <div>
                <h2>EXPERIENCE</h2><br><hr class="short-line2"><br>
                <h4>Trinee Engineer</h4><br>
                <p>
                    <ul class="list">
                        <li>I worked as a Trinee Engineer in Vijay Automates in Chennai for the period of 08-02-2020 to 15-09-2022.</li>
                        <li>During this period, I ensure continuous production of correct product at high quality with minimal wastage of time and materials.</li>
                        <li>I collaborated closely with the production team to troubleshoot issues, optimize workflows, and meet production targets effectively.</li>
                    </ul>
                </p>

            </div><br>

            <div>
                <h2>PROJECTS</h2><br><hr class="short-line2"><br>
                <h3>Lambda Function for File Upload to S3 and Database Update</h3>
                <h5>Skills - AWS (Lambda, S3, Database and SNS)</h5>
                <p>
                    <ul class="list">
                        <li>Designed and implemented a serverless architecture using AWS Lambda to automate file uploads to S3 buckets, database updates, and SNS notifications.</li>
                        <li>By utilizing AWS Lambda's pay-per-use pricing model and automatic scaling, our project ensures cost-effective execution with optimal resource utilization.</li>
                    </ul>
                </p><br>

                <h3>Virtual Private Cloud</h3>
                <h5>Skills - Terraform, AWS (VPC, Internet Gateway, Subnets, Route Table, Security Group)</h5>
                <p>
                    <ul class="list">
                         <li>Implemented Terraform to automate the provisioning of AWS resources, including VPCs, subnets, security groups, and IAM policies, resulting in streamlined infrastructure deployment and reduced time-to-market.</li>
                    </ul>
                </p><br>

                <h3>Automated Deployment Pipeline</h3>
                <h5>Skills - Devops (Jenkins and Docker)</h5>
                <p>
                    <ul class="list">
                        <li>Developed an end-to-end CI/CD pipeline using Jenkins and Docker, resulting in faster and more reliable deployments. The project aimed to automate the deployment process, reduce manual intervention, and increase deployment frequency.</li>

                    </ul>
                </p><br>

                <h3>Portfolio Website</h3>
                <h5>Skills - Python (Flask, HTML, CSS, Canva)</h5>
                <p><ul class="list">
                    <li>Developed and maintained a personal portfolio website showcasing my skills, projects, and professional experience. The website serves as an interactive platform for potential employers and collaborators to learn more about my background and expertise.</li>
                </ul></p>
            </div><br>
            <p class="page">"You can view my projects on my <b>project page</b>."</p>
        
    </section>

{% include "footer.html" %}